<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Название сайта</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header class="top">
    
</header>
<nav>
    <ul>
        <li><a href="/main-page">ГЛАВНАЯ СТРАНИЦА</a></li>
        <li sec:authorize="isAnonymous()" class="selected"><a href="/login-page">ВХОД</a>
        <li sec:authorize="isAnonymous()"><a href="/registration">РЕГИСТРАЦИЯ</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/user-page">ЛИЧНЫЙ КАБИНЕТ</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></li>
    </ul>
</nav>
<div id="tableContainer">
    <div id="tableRow">
        <section id="leftsection">
            <h1>Страница логина</h1>
            
        </section>
        <section id="main">
            <h1>Это страница логина</h1>
            <form method="post" action="/login-page">
                Логин :<input type="text" name="username">
                <br>
                Пароль:<input type="text" name="password">
                <br>
                <input  type="submit" value="Войти">
            </form>
           
        </section>
       
    </div>
</div>
<footer>
    &copy; 2020, Название сайта
</footer>
</body>
</html>